<%- include('./header.ejs') %>

    <div class="homepage-cnt">

        <h1>Budget Tracker</h1>
        <p>Track your exprenses and incomes!</p>

        <a href="/profile">Go to profile</a>

    </div>



    <%- include('./footer.ejs') %>