<%- include('./header.ejs') %>

    <div class="container">
        <div>
            <h1>Homepage</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, magni suscipit harum, necessitatibus fugit
                iure consequatur tempore libero alias commodi voluptate! Dolor suscipit veniam sed velit assumenda eos
                aliquam quia!</p>
        </div>

    </div>



    <%- include('./footer.ejs') %>